[submodule "1/lib/glui"]
	path = 1/lib/glui
	url = git@github.com:libglui/glui.git

[submodule "2/lib/glfw"]
	path = 2/lib/glfw
	url = git@github.com:glfw/glfw.gi

[submodule "3/lib/glfw"]
	path = 3/lib/glfw
	url = git@github.com:glfw/glfw.git

[submodule "4/lib/glfw"]
	path = 4/lib/glfw
	url = git@github.com:glfw/glfw.git
